@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-Regular.eot");
  src: local("Nunito Regular"), local("Nunito-Regular"), url("../fonts/Nunito-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Nunito-Regular.woff2") format("woff2"), url("../fonts/Nunito-Regular.woff") format("woff"), url("../fonts/Nunito-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-Medium.eot");
  src: local("Nunito Medium"), local("Nunito-Medium"), url("../fonts/Nunito-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Nunito-Medium.woff2") format("woff2"), url("../fonts/Nunito-Medium.woff") format("woff"), url("../fonts/Nunito-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-SemiBold.eot");
  src: local("Nunito SemiBold"), local("Nunito-SemiBold"), url("../fonts/Nunito-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Nunito-SemiBold.woff2") format("woff2"), url("../fonts/Nunito-SemiBold.woff") format("woff"), url("../fonts/Nunito-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-Bold.eot");
  src: local("Nunito Bold"), local("Nunito-Bold"), url("../fonts/Nunito-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Nunito-Bold.woff2") format("woff2"), url("../fonts/Nunito-Bold.woff") format("woff"), url("../fonts/Nunito-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

html {
  font-size: 16px;
}
@media (min-width: 768px) {
  html {
    font-size: 18px;
  }
}
@media (min-width: 1500px) {
  html {
    font-size: 20px;
  }
}
@media (min-width: 1700px) {
  html {
    font-size: 22px;
  }
}
@media (min-width: 1921px) {
  html {
    font-size: 24px;
  }
}

body {
  display: flex;
  flex-direction: column;
  color: #EEEEEE;
  counter-reset: steps;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.2;
  font-family: "Nunito", sans-serif;
  background-color: #FCFCFC;
  cursor: url(../img/cursor_white.png) 4 1, default;
}
body .footer-wrapper {
  margin-top: auto;
}
body .fader {
  width: 100%;
  height: 100vh;
  content: "";
  background-color: rgba(255, 255, 255, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: none;
  opacity: 0;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
body.fixed {
  overflow: hidden;
  position: relative;
}
@media (min-width: 992px) {
  body.fixed {
    padding-right: 17px;
  }
}
body.fixed .fader {
  display: block;
  opacity: 1;
}
@media (min-width: 992px) {
  body.fixed .header--index {
    padding-right: 17px;
  }
}

.page-content {
  padding-top: 30px;
  padding-bottom: 30px;
  min-height: unset;
}
@media (max-width: 991px) {
  .page-content {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (min-width: 1200px) and (max-width: 1920px) {
  .container {
    max-width: 90%;
  }
}
@media (min-width: 1921px) {
  .container {
    max-width: 1860px;
  }
}

@media (min-width: 1200px) {
  .navbar-brand {
    display: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
}

.row {
  position: relative;
}

a {
  text-decoration: none;
}

.index-page {
  position: relative;
}

.inner-page {
  flex-grow: 1;
  position: relative;
}

.basic-title {
  font-family: "Oswald", sans-serif;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.1;
  text-transform: uppercase;
  color: #EEEEEE;
  margin-bottom: 4rem;
}
@media (max-width: 1920px) {
  .basic-title {
    margin-bottom: 2rem;
  }
}
@media (max-width: 1399px) {
  .basic-title {
    margin-bottom: 3rem;
  }
}
@media (max-width: 991px) {
  .basic-title {
    font-size: 4.4rem;
    margin-bottom: 2rem;
  }
}
@media (max-width: 575px) {
  .basic-title {
    font-size: 3.75rem;
  }
}

.basic-link {
  font-weight: 300;
  font-size: 0.8rem;
  line-height: 1.1;
  color: black;
  transition: 0.2s ease;
}
.basic-link span {
  margin-left: 3px;
}
.basic-link:hover {
  transition: 0.2s ease;
  color: #737373;
}

.buttons-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.basic-button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
  padding: 26px 112px;
  color: #EEEEEE;
  background-color: #101010;
  border: 2px solid rgba(255, 255, 255, 0);
  transition: 0.2s ease;
}
@media (max-width: 1920px) {
  .basic-button {
    padding: 21px 105px;
  }
}
@media (max-width: 1499px) {
  .basic-button {
    padding: 18px 90px;
  }
}
@media (max-width: 1199px) {
  .basic-button {
    padding: 15px 75px;
  }
}
@media (max-width: 991px) {
  .basic-button {
    padding: 19px 70px;
  }
}
@media (max-width: 767px) {
  .basic-button {
    padding: 15px 66px;
  }
}
.basic-button > span {
  transition: 0.2s ease;
}
.basic-button::after {
  position: absolute;
  right: 30%;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  width: 21px;
  height: 14px;
  background-image: url(../img/white_arrow_right.svg);
  background-size: cover;
  opacity: 0;
  transition: 0.2s ease;
}
@media (max-width: 991px) {
  .basic-button::after {
    width: 18px;
    height: 11px;
  }
}
.basic-button:hover {
  background-color: transparent;
  transition: 0.2s ease;
}
.basic-button:hover > span {
  transform: translateX(-30px);
  transition: 0.2s ease;
}
@media (max-width: 1199px) {
  .basic-button:hover > span {
    transform: translateX(-20px);
  }
}
.basic-button:hover::after {
  position: absolute;
  right: 10%;
  opacity: 1;
  transition: 0.2s ease;
}
.basic-button:active {
  transition: 0.2s ease;
}
.basic-button--min {
  padding-right: 86px;
  padding-left: 86px;
}
@media (max-width: 1920px) {
  .basic-button--min {
    padding: 21px 75px;
  }
}
@media (max-width: 1499px) {
  .basic-button--min {
    padding: 18px 65px;
  }
}
@media (max-width: 1299px) {
  .basic-button--min {
    padding: 13px 50px;
  }
}
@media (max-width: 399px) {
  .basic-button--min {
    padding: 13px 40px;
  }
}
.basic-button--transparent {
  border-color: #EEEEEE;
  color: #EEEEEE;
}
.basic-button--transparent:hover {
  color: #EEEEEE;
}
.basic-button--transparent:active {
  opacity: 0.6;
  transition: 0.2s ease;
}
.basic-button--red {
  background-color: #F00714;
}
.basic-button--red:hover {
  color: #EEEEEE;
  background-color: #ef7a81;
}
.basic-button--red:active {
  color: #EEEEEE;
  background-color: #ef636b;
}
.basic-button--grey {
  color: #EFEEF2;
}
.basic-button--grey:hover {
  background-color: #737373;
}
.basic-button--reverse::after {
  background-image: url(../img/white_arrow_left.svg);
  right: unset;
  left: 30%;
}
.basic-button--reverse:hover::after {
  right: unset;
  left: 10%;
}
.basic-button--reverse:hover > span {
  transform: translateX(30px);
  transition: 0.2s ease;
}
@media (max-width: 1199px) {
  .basic-button--reverse:hover > span {
    transform: translateX(20px);
  }
}
@media (max-width: 991px) {
  .basic-button--reverse {
    width: auto;
    height: auto;
    padding: 0;
    background-color: unset;
    border: unset;
  }
  .basic-button--reverse::after {
    display: none;
  }
}

.top-scroll-button {
  color: #EEEEEE;
  width: 40px;
  height: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 0;
  line-height: 0;
  border-radius: 17px;
  border: 2px solid #EEEEEE;
  position: fixed;
  z-index: 1000;
  bottom: 50px;
  right: 50px;
  transition: 0.2s ease;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0);
}
@media (max-width: 1920px) {
  .top-scroll-button {
    width: 45px;
    height: 45px;
  }
}
@media (max-width: 1699px) {
  .top-scroll-button {
    width: 40px;
    height: 40px;
  }
}
@media (max-width: 1199px) {
  .top-scroll-button {
    right: 25px;
  }
}
@media (max-width: 991px) {
  .top-scroll-button {
    border-radius: 15px;
  }
}
@media (max-width: 767px) {
  .top-scroll-button {
    width: 40px;
    height: 40px;
    font-size: 1.3rem;
    border-radius: 15px;
  }
}
@media (max-width: 575px) {
  .top-scroll-button {
    bottom: 35px;
    right: 8px;
    width: 40px;
    height: 40px;
    border-radius: 12px;
  }
}
@media (max-width: 399px) {
  .top-scroll-button {
    width: 35px;
    height: 35px;
  }
}
.top-scroll-button.show {
  visibility: visible;
  opacity: 1;
}
@media (min-width: 992px) {
  .top-scroll-button.show:hover {
    opacity: 0.5;
    transition: 0.2s ease;
  }
}
.top-scroll-button.show:active {
  transform: scale(0.9);
  transition: 0.2s ease;
}
.top-scroll-button > svg,
.top-scroll-button > img {
  width: 55%;
  height: 55%;
  min-width: 17px;
  min-height: 20px;
}

.add-counter {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}
@media (max-width: 1699px) {
  .add-counter {
    margin-bottom: 1rem;
  }
}
.add-counter input[type=text] {
  display: inline-block;
  font-size: 1rem;
  min-width: 70px;
  width: 70px;
  text-align: center;
  background-color: #101010;
  border: 0;
  color: #EEEEEE;
}
@media (max-width: 1699px) {
  .add-counter input[type=text] {
    width: 55px;
    min-width: 55px;
  }
}
@media (max-width: 575px) {
  .add-counter input[type=text] {
    width: 40px;
    min-width: 40px;
  }
}
.add-counter .change {
  border-radius: 50%;
  border: 1px solid #EEEEEE;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0.8;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.2s ease;
  position: relative;
}
@media (max-width: 1699px) {
  .add-counter .change {
    width: 25px;
    height: 25px;
  }
}
.add-counter .change:hover {
  transition: 0.2s ease;
  opacity: 0.8;
}
.add-counter .change > span {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  vertical-align: top;
  position: absolute;
  width: 10px;
  height: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.add-counter .change.minus > span {
  transform: translate(-50%, -80%);
}
@media (max-width: 991px) {
  .add-counter .change.minus > span {
    transform: translate(-50%, -65%);
  }
}

@keyframes slideme {
  0% {
    left: -30px;
    margin-left: 0px;
  }
  30% {
    left: 110%;
    margin-left: 80px;
  }
  100% {
    left: 110%;
    margin-left: 80px;
  }
}
@keyframes countingBar {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes marker {
  0% {
    background-size: 0 85%;
  }
  100% {
    background-size: 100% 85%;
  }
}
@keyframes marker-reverse {
  0% {
    background-size: 100% 85%;
  }
  100% {
    background-size: 0 85%;
  }
}
@keyframes expander {
  0% {
    min-height: 0;
  }
  100% {
    min-height: 430px;
  }
}
@keyframes rolling {
  0% {
    transform: scale(0.5) rotate(0deg);
  }
  50% {
    transform: scale(1) rotate(180deg);
  }
  100% {
    transform: scale(0.5) rotate(360deg);
  }
}
@keyframes gray-round {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(2);
    opacity: 1;
  }
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 20px;
}
@media (max-width: 1279px) {
  .header__wrapper {
    margin-bottom: 40px;
  }
}
.header__burger {
  display: none;
}
@media (max-width: 1279px) {
  .header__burger {
    display: flex;
  }
}
.header__logo {
  width: 231px;
  height: 88px;
}
.header__logo > img {
  width: 100%;
  height: 100%;
}
@media (max-width: 1279px) {
  .header__nav {
    display: none;
  }
}
.header__nav > ul {
  display: flex;
  gap: 46px;
  list-style: none;
  margin: 0;
  padding: 0;
}
@media (max-width: 1920px) {
  .header__nav > ul {
    gap: 36px;
  }
}
@media (max-width: 1660px) {
  .header__nav > ul {
    gap: 26px;
  }
}
@media (max-width: 1499px) {
  .header__nav > ul {
    gap: 16px;
  }
}
.header__nav > ul > li > a {
  color: var(--black, #232424);
  leading-trim: both;
  text-edge: cap;
  font-family: "Nunito";
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  transition: 0.2s ease;
}
.header__nav > ul > li > a:hover {
  color: #0BA299;
  transition: 0.2s ease;
}
@media (max-width: 1660px) {
  .header__nav > ul > li > a {
    font-size: 20px;
  }
}
@media (max-width: 1440px) {
  .header__nav > ul > li > a {
    font-size: 18px;
  }
}
@media (max-width: 1280px) {
  .header__nav > ul > li > a {
    font-size: 16px;
  }
}
@media (max-width: 1279px) {
  .header__tel {
    display: none;
  }
}
.header__tel-mobile {
  display: none;
}
@media (max-width: 1279px) {
  .header__tel-mobile {
    display: flex;
  }
}
.header__tel-mobile > a {
  color: var(--black, #232424);
  leading-trim: both;
  text-edge: cap;
  font-family: "Nunito";
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  transition: 0.2s ease;
}
.header__tel-mobile > a:hover {
  color: #0BA299;
  transition: 0.2s ease;
}
@media (max-width: 991px) {
  .header__tel-mobile > a {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .header__tel-mobile > a {
    font-size: 19px;
  }
}
@media (max-width: 467px) {
  .header__tel-mobile > a {
    font-size: 18px;
  }
}
@media (max-width: 390px) {
  .header__tel-mobile > a {
    font-size: 16px;
  }
}
.header__tel > a {
  color: var(--black, #232424);
  leading-trim: both;
  text-edge: cap;
  font-family: "Nunito";
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  transition: 0.2s ease;
}
.header__tel > a:hover {
  color: #0BA299;
  transition: 0.2s ease;
}

.footer {
  padding: 40px 0 20px 0;
  background-color: #E7EEF4;
}
.footer__wrapper {
  display: flex;
  margin-bottom: 40px;
}
@media (max-width: 991px) {
  .footer__wrapper {
    flex-direction: column;
  }
}
@media (max-width: 467px) {
  .footer__wrapper {
    margin-bottom: 15px;
  }
}
.footer__form > p {
  margin-bottom: 50px;
}
@media (max-width: 991px) {
  .footer__form > p {
    margin-bottom: 40px;
  }
}
@media (max-width: 767px) {
  .footer__form > p {
    margin-bottom: 30px;
  }
}
.footer__info {
  display: flex;
  flex-direction: column;
  max-width: 942px;
  padding-left: 10vw;
}
@media (max-width: 1660px) {
  .footer__info {
    padding-left: 0;
  }
}
@media (max-width: 1440px) {
  .footer__info {
    padding-left: 3vw;
  }
}
@media (max-width: 991px) {
  .footer__info {
    padding-left: 0;
  }
}
.footer__nav > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.footer__nav > ul > li > a {
  color: var(--black, #232424);
  leading-trim: both;
  text-edge: cap;
  font-family: "Nunito";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
@media (max-width: 467px) {
  .footer__nav > ul > li > a {
    font-size: 18px;
  }
}
.footer__tel {
  display: flex;
  justify-content: flex-end;
  margin-top: 32px;
}
@media (max-width: 991px) {
  .footer__tel {
    justify-content: flex-start;
    margin-top: 100px;
  }
}
@media (max-width: 767px) {
  .footer__tel {
    margin-top: 60px;
  }
}
.footer__tel > a {
  color: var(--black, #232424);
  leading-trim: both;
  text-edge: cap;
  font-family: "Nunito";
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
@media (max-width: 767px) {
  .footer__tel > a {
    font-size: 22px;
  }
}
.footer__socials {
  display: flex;
  justify-content: flex-end;
  gap: 32px;
  margin: 60px 0 80px 0;
}
@media (max-width: 991px) {
  .footer__socials {
    justify-content: flex-start;
    margin: 40px 0 60px 0;
  }
}
@media (max-width: 767px) {
  .footer__socials {
    margin: 25px 0 40px 0;
  }
}
@media (max-width: 567px) {
  .footer__socials > a {
    width: 47px;
    height: 47px;
  }
}
.footer__tip > p {
  color: var(--black, #232424);
  leading-trim: both;
  text-edge: cap;
  font-family: "Nunito";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.7;
  text-align: right;
  margin-bottom: 8px;
}
@media (max-width: 991px) {
  .footer__tip > p {
    text-align: left;
  }
}
.footer__tip > p > a {
  color: var(--black, #232424);
}
.footer__warn {
  color: var(--black, #232424);
  leading-trim: both;
  text-edge: cap;
  font-family: "Nunito";
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.8;
  text-align: center;
}
@media (max-width: 991px) {
  .footer__warn {
    text-align: left;
    font-size: 24px;
  }
}
@media (max-width: 467px) {
  .footer__warn {
    font-size: 18px;
  }
}

.form-body {
  max-width: 752px;
}
@media (max-width: 991px) {
  .form-body {
    margin-bottom: 110px;
  }
}
@media (max-width: 767px) {
  .form-body {
    margin-bottom: 60px;
  }
}
.form__row {
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .form__row {
    margin-bottom: 16px;
  }
}
.form-control {
  border-radius: 100px;
  border: 1px solid rgba(11, 11, 11, 0.2);
  background-color: var(--white, #FCFCFC);
  padding-left: 30px;
  font-size: 18px;
}
@media (max-width: 767px) {
  .form-control {
    font-size: 16px;
    padding-left: 20px;
  }
}
.form-fio {
  flex: 1;
}
@media (max-width: 767px) {
  .form-tel > input {
    max-width: 80%;
    margin-bottom: 16px;
  }
}
.form-check-label {
  color: var(--black, #232424);
  leading-trim: both;
  text-edge: cap;
  font-family: "Nunito";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 17.6px */
}
@media (max-width: 467px) {
  .form-check-label {
    font-size: 12px;
  }
}
.form-check {
  margin-bottom: 40px;
}
.form__input > input {
  margin-bottom: 20px;
}

.cta__button-primary {
  display: flex;
  padding: 18px 80px;
  border-radius: 63px;
  background-color: var(--main, #0BA299);
  color: var(--white, #FCFCFC);
  leading-trim: both;
  text-edge: cap;
  font-family: "Nunito";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  transition: 0.2s ease;
  opacity: 1;
}
.cta__button-primary:hover {
  transition: 0.2s ease;
  opacity: 0.8 !important;
  background-color: var(--main, #0BA299) !important;
}
@media (max-width: 991px) {
  .cta__button-primary {
    padding: 16px 80px;
  }
}
@media (max-width: 567px) {
  .cta__button-primary {
    padding: 13px 70px;
    margin: 0 auto;
  }
}

.inner-page-bg {
  z-index: -1000;
}
.inner-page-bg > img {
  position: absolute;
  right: 0;
  height: 75%;
}
@media (max-width: 1920px) {
  .inner-page-bg > img {
    height: 75%;
  }
}
@media (max-width: 991px) {
  .inner-page-bg > img {
    height: 50%;
  }
}

.breadcrumbs__prev {
  color: var(--black, #232424);
  leading-trim: both;
  text-edge: cap;
  font-family: "Nunito";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  opacity: 0.6;
}
@media (max-width: 991px) {
  .breadcrumbs__prev {
    font-size: 14px;
  }
}
@media (max-width: 390px) {
  .breadcrumbs__prev {
    font-size: 12px;
  }
}
.breadcrumbs__current {
  color: var(--black, #232424);
  leading-trim: both;
  text-edge: cap;
  font-family: "Nunito";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  opacity: 0.6;
}
@media (max-width: 991px) {
  .breadcrumbs__current {
    font-size: 14px;
  }
}
@media (max-width: 390px) {
  .breadcrumbs__current {
    font-size: 12px;
  }
}

.breadcrumb {
  gap: 6px;
  margin: 40px 0 80px 0;
}
@media (max-width: 1279px) {
  .breadcrumb {
    margin: 30px 0 60px 0;
  }
}
@media (max-width: 991px) {
  .breadcrumb {
    margin: 30px 0 50px 0;
  }
}
@media (max-width: 390px) {
  .breadcrumb {
    margin: 20px 0 40px 0;
  }
}

.section__title {
  margin-bottom: 80px;
  color: var(--black, #232424);
  leading-trim: both;
  text-edge: cap;
  font-family: "Nunito";
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
@media (max-width: 991px) {
  .section__title {
    font-size: 36px;
    margin-bottom: 60px;
  }
}
@media (max-width: 767px) {
  .section__title {
    font-size: 20px;
    margin-bottom: 40px;
  }
}

.specialist-list__container {
  margin-bottom: 220px;
}
@media (max-width: 991px) {
  .specialist-list__container {
    margin-bottom: 180px;
  }
}
@media (max-width: 767px) {
  .specialist-list__container {
    margin-bottom: 120px;
  }
}
.specialist-list__row {
  row-gap: 15px;
}
@media (max-width: 1860px) {
  .specialist-list__row {
    justify-content: center;
  }
}

.specialist__card {
  display: flex;
  flex-direction: column;
}
@media (max-width: 1860px) {
  .specialist__card {
    width: fit-content;
  }
}
@media (max-width: 991px) {
  .specialist__card {
    width: 50%;
  }
}
@media (max-width: 767px) {
  .specialist__card {
    width: 33%;
  }
}
@media (max-width: 567px) {
  .specialist__card {
    width: fit-content;
  }
}
.specialist__img {
  width: 396px;
  height: 440px;
}
@media (max-width: 1660px) {
  .specialist__img {
    width: 322px;
    height: 350px;
  }
}
@media (max-width: 991px) {
  .specialist__img {
    width: 322px;
    height: 350px;
  }
}
@media (max-width: 767px) {
  .specialist__img {
    width: 165px;
    height: 183px;
  }
}
.specialist__img > img {
  width: 100%;
  height: 100%;
  border-radius: 30px;
}
.specialist__name {
  color: var(--black, #232424);
  leading-trim: both;
  text-edge: cap;
  font-family: "Nunito";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 6px;
  margin-top: 9px;
  max-width: 322px;
}
@media (max-width: 991px) {
  .specialist__name {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .specialist__name {
    font-size: 14px;
  }
}
@media (max-width: 567px) {
  .specialist__name {
    max-width: 165px;
  }
}
.specialist__spec {
  color: var(--black, #232424);
  leading-trim: both;
  text-edge: cap;
  font-family: "Nunito";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  max-width: 322px;
  opacity: 0.8;
}
@media (max-width: 991px) {
  .specialist__spec {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .specialist__spec {
    font-size: 12px;
  }
}
@media (max-width: 567px) {
  .specialist__spec {
    max-width: 165px;
  }
}
.news-list__row {
  margin-bottom: 220px;
  row-gap: 30px;
}
.news-list__title {
  padding-left: 20px;
  padding-right: 20px;
  position: absolute;
  bottom: 0;
  color: var(--white, #FCFCFC);
  leading-trim: both;
  text-edge: cap;
  font-family: "Nunito";
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
@media (max-width: 1660px) {
  .news-list__title {
    font-size: 22px;
  }
}
@media (max-width: 767px) {
  .news-list__title {
    font-size: 16px;
  }
}

.news__card {
  position: relative;
}
@media (max-width: 1920px) {
  .news__card {
    width: 33%;
  }
}
@media (max-width: 1199px) {
  .news__card {
    width: 50%;
  }
}
@media (max-width: 767px) {
  .news__card {
    width: 50%;
  }
}
@media (max-width: 567px) {
  .news__card {
    width: 100%;
  }
}
.news__card > a > img {
  border-radius: 20px;
  width: 100%;
}
/*# sourceMappingURL=style.css.map */